<div ng-controller="siteController">
    <!--<div ng-repeat="calculation in calculations">-->
    <!--{{calculation.calculationDefinition}}-->
    <!--</div>-->

    <div style="padding-top: 30px;">
        <div class="col-lg-6">
            <div class="panel panel-default" ng-controller="pdfViewerController">
                <!-- Default panel contents -->
                <div class="panel-heading panel-primary">{{pdfName}}</div>
                <div class="panel-body">
                    <div class="wrapper" >
                        <ng-pdf template-url="views/pdfViewerVersionA.html" canvasid="pdf" scale="page-fit" page=1></ng-pdf>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Line</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="line in lines">
                    <td>{{line.lineNumber}}</td>
                    <td>{{line.lineDescription}}</td>
                    <td><input type="text" ng-model="line.value" ng-change="update(line.value,line.lineNumber)"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>