<div style="top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: auto;
            position: fixed;
            background-color: #1B2B2F !important;
            padding-left: 70%;
            padding-top: 20%">

    <form class="form-signin">
        <div class="text-center mb-4">
            <!--<h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>-->
            <!--<p>Build sform controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>-->
        </div>

        <div class="form-label-group">
            <input ng-model="emailId" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                ng-click="loginMe()">Sign me in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
</div>
<div class="loginAni">
    <div class="earth">
        <div class="earth--shadow"></div>
    </div>
    <div class="moon"></div>
    <div class="stars"></div>
</div>
