<div>
    <header class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <img id="extraction" src="images/telecommunication.png" class="image-pad-left" style="">
            </div>
            <div class="navbar-brand" style="padding-top: 20px;">5G Integrated Interface</div>
            <div style="float: right; padding: 16px;">
                <button type="button" class="btn btn-default btn-sm" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </div>
        </div>
    </header>
</div>
<div ng-controller="siteController">
    <div style="padding-left: 50px;padding-right: 50px;padding-top: 100px;">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="site in sites" ng-click="setTabContent(site)">
                <a href="#">{{site.name}}</a>
            </li>
            <div style="float: right;padding-right: 50px;">
                <button type="button" class="btn btn-primary" ng-click="addSite()">New Site</button>
            </div>
        </ul>
        <div>
            <ng-include src="tabContentUrl.page"></ng-include>
        </div>
    </div>
</div>
<div class="newsitebgimg" style="height: -webkit-fill-available;width: -webkit-fill-available;"></div>