<div style="top: 0; left: 0;
     bottom: 0;
     right: 0;
     overflow: auto;
     position: fixed;
     padding-left: 70%;
     padding-top: 20%">
  <!--<div style="-->
    <!--position:  fixed;-->
    <!--top: 0;-->
    <!--left: 0;">-->
  <div class="list-sites">
    <div>
      <button type="button" class="btn btn-primary"
              style="float: right;"
              ng-click="openModal()">New Site</button>
    </div>
    <div>
      <h2>My Cart</h2>
      <div style="border: 1px solid black;">
      </div>
      <table border="1" style="width: 100%;">
        <thead>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
        </thead>
        <tr ng-repeat="item in items">
          <td>{{item.Product}}</td>
          <td>{{item.Desc}}</td>
          <td>{{item.Price}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>